In [48]:
import pandas as pd
import regex as re
import numpy as np

In [3]:
data = pd.read_csv("data/keywords.csv")

In [31]:
data.iloc[[0]].keywords[0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [30]:
def key_word_grabber(text):
    
    return re.findall(r"'name':\s*'([^']*)'", text)

In [39]:
data["keywords_list"] = data["keywords"].apply(lambda x: key_word_grabber(x))

In [67]:
data.shape

(46419, 3)

In [66]:
data["keywords"].value_counts()

[]                                                                                                                                                                                                                             14795
[{'id': 187056, 'name': 'woman director'}]                                                                                                                                                                                      1323
[{'id': 10183, 'name': 'independent film'}]                                                                                                                                                                                      509
[{'id': 9716, 'name': 'stand-up comedy'}]                                                                                                                                                                                        235
[{'id': 4344, 'name': 'musical'}]                                                                                                                                                                                                170
                                                                                                                                                                                                                               ...
[{'id': 187310, 'name': 'springfield illinois'}, {'id': 207928, 'name': '19th century'}, {'id': 209409, 'name': 'abraham lincoln'}]                                                                                                1
[{'id': 1299, 'name': 'monster'}, {'id': 1852, 'name': 'mutant'}, {'id': 9794, 'name': 'toxic'}, {'id': 10322, 'name': 'native american'}, {'id': 33480, 'name': 'environmental'}, {'id': 223059, 'name': 'animal horror'}]        1
[{'id': 6946, 'name': 'blonde'}]                                                                                                                                                                                                   1
[{'id': 110, 'name': 'venice'}, {'id': 703, 'name': 'detective'}, {'id': 1328, 'name': 'secret'}, {'id': 2041, 'name': 'island'}, {'id': 7063, 'name': 'children gang'}, {'id': 155790, 'name': 'private detective'}]              1
[{'id': 2679, 'name': 'artist'}, {'id': 14531, 'name': 'play'}, {'id': 215397, 'name': 'pinoy'}]                                                                                                                                   1
Name: keywords, Length: 25989, dtype: int64

In [59]:
type(data.iloc[46418]["keywords_list"])

list

In [65]:
data["keywords_list"].apply(lambda x: x)

0        False
1        False
2        False
3        False
4        False
         ...
46414    False
46415    False
46416    False
46417    False
46418    False
Name: keywords_list, Length: 46419, dtype: bool

In [5]:
data2 = pd.read_csv("data/movies_metadata.csv")

/Users/nicolas/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data2.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0